# This is Git's per-user configuration file.
[user]
	name = Karen Almog
	email = kalmog@mirantis.com
  signingkey = A570BFBE69852E0B24D41ED57C41900E77FFA4B4
[credential]
  helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[url "https://kalmog@gerrit.mcp.mirantis.com/a/kubernetes/lcm"]
	insteadOf = https://github.com/Mirantis/lcm
[url "https://kalmog@gerrit.mcp.mirantis.com/a/kaas/core"]
  insteadOf = https://github.com/kubernetes-sigs/cluster-api-provider-openstack
[difftool "Kaleidoscope"]
      cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
      cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
      trustExitCode = true
[pull]
	rebase = true
[init]
	defaultBranch = Main
[diff]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
